header {
  background-color: rgb(213, 211, 211);
  color: white;
}

.container {
  margin: 20px auto;
}

/* Custom Navbar Styling */
.navbar-custom {
  padding: 10px;
  color: white; /* This can remain since it's the only property */
}

/* Navbar Title Styling */
.navbar-title {
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

/* Card Styling */
.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Logo Image Styling */
.logo-image {
  width: 120px;
  height: auto;
}

/* Button Group Styling */
.btn-group .btn {
  margin-right: 4px;
}

.btn-primary {
  font-weight: bold;
}

.text-center {
  text-align: center;
  font-size: 1.25rem; /* Increase font size */
  color: #666; /* Grey color */
  margin-top: 20px; /* Add margin for spacing */
}