header {
  background-color: rgb(213, 211, 211);
  color: white;
}

.container {
  margin: 20px auto;
}

.navbar-custom {
  padding: 10px;
  color: white;
}

.navbar-title {
  font-size: 2vmax;
  color: white;
  margin: 0;
  text-align: end;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-image {
  width: 120px;
  height: auto;
}

.btn-group .btn {
  margin-right: 4px;
}

.btn-primary {
  font-weight: bold;
}

.text-center {
  font-size: 1.25rem;
}


@media (max-width: 768px) {
  .card-header {
    font-size: 1.25rem;
  }
}